body{
	background: #232323;
	margin: 0;
	font-family: "Avenir";
}
.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.6s;
/*webkit-transition: background 0.6s; this is for browsers with webkit engine like safari	*/
/*-moz-transition: background 0.6s; this is for browsers with moz engine like mozila firefox	*/
}
#container{
	margin: 0 auto;
	max-width: 600px;
}
h1{
	text-align: center;
	color: white;
	background-color: steelblue;
	margin:	0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}
#colorDisplay{
	font-size: 200%;
}
#message{
	display: inline-block;
	width: 20%;
}

#stripe{
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}
.selected{
	color: white;
	background-color: steelblue;
	border: none;
}
button{
	border:none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	/* transition deals with fading property and takes two arguments which and how long in seconds(s)*/
	transition: all 0.3s;
	outline: none;
}
button:hover{
	color: white;
	background-color: steelblue;
}